@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-kufam: "Kufam", sans-serif; 
}
:root {
  font-family: kufam, Montserrat, sans-serif;
  color: #724C2A;
}

.bg-beige {
  background-color: #F5E4AD;
}

.bg-brown {
  background-color: #ACA17C;
}

.bg-orange {
  background-color: #F3C45E;
}

.text-beige {
  color: #F5E4AD;
}

.text-dbrown {
  color: #724C2A;
}

.text-orange {
  color: #F3C45E;
}

.margin {
  margin-inline: clamp(10px, 20vw, 2000px);
}

@media only screen and (max-width: 640px) {
   .margin{
    margin-inline: 20px;
   }
}

/* Font size: 60px for screen width 2560px */
.font-xl {
  font-size: clamp(1.875rem, 2.34vw, 6rem);
}

/* Font size: 35px for screen width 2560px */
.font-lg {
  font-size: clamp(1.25rem, 1.36vw, 3.75rem);
}

/* Font size: 30px for screen width 2560px */
.font-md {
  font-size: clamp(1.125rem, 1.17vw, 3rem);
}

/* Font size: 25px for screen width 2560px */
.font-sm {
  font-size: clamp(0.7rem, 0.95vw, 2.25rem);
}

/* Font size: 20px for screen width 2560px */
.font-xs {
  font-size: clamp(0.875rem, 0.78vw, 1.875rem);
}

/* Font size: 10px for screen width 2560px */
.font-xxs {
  font-size: clamp(0.3rem, 0.20vw, 1.2rem);
}
