---
import '../styles/global.css';
import navbar from './navbar.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <navbar />
    <slot />
  </body>
</html>